@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Slabo+27px&display=swap&family=Fjalla+One');

body{
    background: #67B26F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    color: #091642;
    
    /* background-color: #A9C9FF;             Gradient 1
background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%); */  

/* 
    background-color: #74EBD5; gradient 2
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%); */
   
}

:root{
    --primary-color:#132257;
    --secondary-color: rgb(175, 216, 151);
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Slabo 27px', serif;
    --headings-font: 'Fjalla One', sans-serif;
    --gradient-one: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    --gradient-two: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
}

h1{
    font-family: var(--headings-font);
   
}

.navbar-light .navbar-nav .nav-link { /*Links in Nav Bar*/
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: bold;
    font-family: var(--primary-font);
   
    
}
.navbar-light .navbar-nav .nav-link:hover{ /*Links when hover on Nav Bar*/
   color: white;
}

.navbar-brand img{ /*Shrestha Club logo*/
    border-radius: 25px;
    
   padding: 10px;
    width: 170px;
    height: 95px;
}

nav a.btn{  /*Sign In Button in Navbar*/
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: bold;
    font-family: var(--primary-font);
    border: 3px solid var(--primary-color);
   margin: 10px 0px 10px 215px; /* for mobile devices */
}

nav a.btn:hover {  /*Sign In Button when Hover in Navbar*/
    background: var(--gradient-two);
    color: white;
    
}

.btn-readmore, .btn-register-now, .btn-learn-more, .btn-submit, .btn-subscribe{
    background: var(--gradient-one);
    font-weight: bold;
    font-family: var(--primary-font);
    border: 2px solid var(--primary-color);
    color: var(--primary-color);

}

.btn-readmore:hover, .btn-register-now:hover, .btn-learn-more:hover, .btn-submit:hover, .btn-subscribe:hover{
    background: var(--gradient-two);
    color: white;
}


.icon-box p{  /*Our Offerings Titles*/
    color: var(--primary-color);
    font-size: 1.7rem;
    font-family: var(--secondary-font);
    font-weight: bold;
   
}

.icon-box img{  /*Our Offerings icons*/
    width: 75px;
    height: 70px;
}

.form-control, .form-select{
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
   
}


#carouselExampleDark1 .carousel-control-prev{

        left: -65px;
    
}
#carouselExampleDark1 .carousel-control-next{

    right: -65px;

}
#carouselExampleDark1{
    margin-left: 80px;
}

.icon-whatsapp{
    margin: 0rem 2rem 0rem 10rem;
}

.section-newsletter{
    background: var(--gradient-two);
    color: white;
    font-style: var(--secondary-font);
    padding: 40px 0px;
}

.follow-us-icons{
    width: 40px;
    height: 40px;
    margin-right: 25px;
}
footer{
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    
}
.footer-end{
    background: var(--primary-color);
}